.vbox {
    -fx-alignment: center;
}

.label {
    -fx-font-family: "Arial"; /* Font family */
    -fx-font-size: 15px; /* Font size */
    -fx-alignment: center; /* Centrer le contenu horizontalement */
    -fx-text-fill:  white;
}

.text-field1 {
    -fx-background-color: transparent; /* Couleur de fond */
    -fx-border-color: #eda2a2; /* Couleur de bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 15px; /* Rayon de bordure */
    -fx-padding: 5px; /* Espacement interne */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-family: "Arial"; /* Police de caractères */
    -fx-text-fill:  white;
}
.text-field1:focused {
    -fx-pref-width: 500px;
}

.error-message {
    -fx-text-fill: red; /* Text color */
    -fx-font-size: 13px; /* Font size */
}

.button {
    -fx-background-color: red; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-family: "Arial"; /* Police de caractères */
    -fx-padding: 2px 3px; /* Espacement interne */
    -fx-border-radius: 5px; /* Rayon de bordure */
    -fx-border-color: #a9535f; /* Couleur de bordure */
}

.button:hover {
    -fx-background-color: red; /* Couleur de fond au survol */
    -fx-border-color: #a9535f; /* Couleur de bordure au survol */
}

.color-picker {
    -fx-pref-width: 100px; /* Largeur préférée du ColorPicker */
}

.backg{
    -fx-background-image: url("image/banner_bg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

/* Customizing TableView */
.table-view {
    -fx-background-color: transparent; /* Set background color */
}

/* Customizing TableColumns */
.table-column {
    -fx-background-color: transparent; /* Set background color #007bff */
    -fx-text-fill: white; /* Set text color */
    -fx-font-size: 16px; /* Set font size */
    -fx-font-family: "Arial"; /* Set font family */
}

/* Customizing TableView rows */
.table-row-cell {
    -fx-background-color: transparent; /* Set background color for rows */
}

/* Styling TableView header */
.table-header {
    -fx-background-color: #007bff; /* Set background color for header */
    -fx-text-fill: white; /* Set text color */
    -fx-font-size: 16px; /* Set font size */
    -fx-font-family: "Arial"; /* Set font family */
}

